 body {
    display: flex;
    flex-direction:column; 
    align-items: center;
}

label {
    margin-bottom: 4px;
}

#listOfProducts { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 0;
}

li { 
    width: 300px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

button {
    margin: 5px;

}