 body {
    display: flex;
    flex-direction:column; 
    align-items: center;
}

label {
    margin-bottom: 4px;
}

#listOfProducts { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 0;
    counter-reset: num
}
 
li { 
    width: 350px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

li:before {
    content: counter(num) '.'; 
	counter-increment: num;      
    position: absolute;
    left: 445px; 
}

button {
    margin: 5px;
}